@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --foreground: #e0e0e0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Practice page styles */

#responseButtons {
  margin-top: 16px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

#nextButton {
  align-self: center;
  font-weight: 600;
  font-size: 18pt;
  border-radius: 2px;
  margin-top: 16px;
}

.flashCardWrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashCard {
  border-radius: 4px;
  box-shadow: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  min-width: 80vw;
  position: relative;
}


/* Add words page styles */

#wordEntryWrapper {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* Statistics page styles */

#statisticsContainer {
  width: 100%;
  height: 100vh;
}

.statsSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#summaryBoxes {
  max-width: 100%;
}

#practiceStatsChart {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Page navigation styles */

.pageNavigation {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  z-index: 1000;
}

.pageNavigationButton {
  position: absolute;
  box-shadow: 3;

  & .upButton {
    top: 10px;
  }
  & .downButton {
    bottom: 10px;
  }
}